<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	<li [routerLinkActive]="['active']"> <a [routerLink]="['tcm/home']">Home</a></li>
      	<li [routerLinkActive]="['active']"> <a [routerLink]="['tcm/searchstudent']">Student</a></li>
  		<li [routerLinkActive]="['active']"> <a [routerLink]="['tcm/searchteacher']">Teacher</a></li>
  		<li [routerLinkActive]="['active']"> <a [routerLink]="['tcm/createenrollment']">Enrollment</a></li>
  		<li [routerLinkActive]="['active']"> <a [routerLink]="['tcm/createattendance']">Attendance</a></li>
        <li><a href="#"> Report </a></li>
      </ul>
     <!--  <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button"> Manage <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
