<div style="padding: 20px;">
	<h2 style="color: blue">Tuition Center Management</h2>
	<app-header></app-header>
	<!-- <nav>
		<a routerLink="tcm/customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
		<a routerLink="tcm/add"	class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="tcm/findbylastname"	class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
	</nav> -->
	<router-outlet></router-outlet>
</div>