<h3>Student Enrollment</h3>
<div [hidden]="!submitted">
	<h4>You submitted successfully!</h4>
	<!-- <button class="btn btn-primary" (click)="goBack()">Back</button>
	<button class="btn btn-success" (click)="newCustomer()">Add</button> -->
</div>
<div style="width: 300px;">
	<form>
		<div class="form-group">
			<label for="student">Student</label> <select id="student"
				[(ngModel)]="enrollment.student" name="Select student"
				class="form-control" required>
				<option *ngFor="let student of students" [ngValue]="student">
					{{student.lastName}},{{student.firstName}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="teacher">Teacher</label> <select id="teacher"
				[(ngModel)]="enrollment.teacher" name="Select teacher"
				class="form-control">
				<option *ngFor="let teacher of teachers" [ngValue]="teacher">
					{{teacher.lastName}},{{teacher.firstName}}</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="subject">Subject</label> <select id="subject"
				[(ngModel)]="enrollment.subject" name="Select subject"
				class="form-control">
				<option *ngFor="let subject of subjects" [ngValue]="subject">
					{{subject.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="startdate">Start Date</label> <input type="date"
				class="form-control" id="startdate" required
				[(ngModel)]="enrollment.startDate" name="startdate">
		</div>

		<div class="form-group">
			<label for="enddate">End Date</label> <input type="date"
				class="form-control" id="enddate" required
				[(ngModel)]="enrollment.endDate" name="enddate">
		</div>

		<div class="form-group">
			<label for="hours">Class Hours</label> <select
				[(ngModel)]="enrollment.hours" name="Select hour" class="form-control"
				required>
				<option value="60">60 min</option>
				<option value="90">90 min</option>
			</select>
		</div>

		<div class="form-group">
			<label for="amount">Amount</label> <input type="text"
				class="form-control" id="amount" required
				[(ngModel)]="enrollment.amount" name="amount">
		</div>

		<div class="form-group">
			<label for="paymenttype">Payment Type</label> <select
				[(ngModel)]="enrollment.paymentType" name="Select payment type" class="form-control"
				required>
				<option value="own">Own</option>
				<option value="scholarship">Scholarship</option>
			</select> 
		</div>
		
		<div class="form-group">
			<label for="location">Location</label> <input type="text"
				class="form-control" id="location" required
				[(ngModel)]="enrollment.location" name="location">
		</div>

		<button class="btn btn-primary" (click)="goBack()">Back</button>
		<button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
		<button class="btn btn-primary" (click)="reset()">Reset</button>
	</form>
</div>

