<h3>Student Enrollment</h3>
<div [hidden]="!submitted">
	<h4>You submitted successfully!</h4>
	<!-- <button class="btn btn-primary" (click)="goBack()">Back</button>
	<button class="btn btn-success" (click)="newCustomer()">Add</button> -->
</div>
<div style="width: 300px;">
	<form>
		<div class="form-group">
			<label for="student">Student</label> <select id="student"
				[(ngModel)]="enroll.studentId" name="Select student"
				class="form-control" required>
				<option *ngFor="let student of students" [value]="student.id">
					{{student.lastName}},{{student.firstName}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="teacher">Teacher</label> <select id="teacher"
				[(ngModel)]="enroll.teacherId" name="Select teacher"
				class="form-control">
				<option *ngFor="let teacher of teachers" [value]="teacher.id">
					{{teacher.lastName}},{{teacher.firstName}}</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="subject">Subject</label> <select id="subject"
				[(ngModel)]="enroll.subjectId" name="Select subject"
				class="form-control">
				<option *ngFor="let subject of subjects" [value]="subject.id">
					{{subject.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="startdate">Start Date</label> <input type="date"
				class="form-control" id="startdate" required
				[(ngModel)]="enroll.startdate" name="startdate">
		</div>

		<div class="form-group">
			<label for="enddate">End Date</label> <input type="date"
				class="form-control" id="enddate" required
				[(ngModel)]="enroll.enddate" name="enddate">
		</div>

		<div class="form-group">
			<label for="timeslot">Time Slot</label> <input type="text"
				class="form-control" id="timeslot" required
				[(ngModel)]="enroll.timeslot" name="timeslot">
		</div>

		<div class="form-group">
			<label for="location">Location</label> <input type="text"
				class="form-control" id="location" required
				[(ngModel)]="enroll.location" name="location">
		</div>

		<div class="form-group">
			<label for="hours">Class Hours</label> <select
				[(ngModel)]="enroll.hours" name="Select hour" class="form-control"
				required>
				<option value="60">60 min</option>
				<option value="90">90 min</option>
			</select>
		</div>

		<div class="form-group">
			<label for="amount">Amount</label> <input type="text"
				class="form-control" id="amount" required
				[(ngModel)]="enroll.amount" name="amount">
		</div>

		<div class="form-group">
			<label for="paymenttype">Payment Type</label> <select
				[(ngModel)]="enroll.paymenttype" name="Select payment type" class="form-control"
				required>
				<option value="own">Own</option>
				<option value="scholarship">Scholarship</option>
			</select> 

		</div>

		<button class="btn btn-primary" (click)="goBack()">Back</button>
		<button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
		<button class="btn btn-primary" (click)="reset()">Reset</button>
	</form>
</div>

